<div class="w-full bg-[#001a33] flex items-center justify-center pt-[86px] pb-[130px]">
    <div class="w-[1170px] px-[15px]">
        <h1 class="text-white mb-[28px] uppercase text-[25px] tracking-[0.15em]"><span class="font-bold text-[#ffea00]">THE BEST</span> FEATURES</h1>
        <div class="flex items-center justify-between">
            <div class="w-[360px] flex justify-between">
                <div class="">
                    <i class="fa-regular fa-user text-[42px] text-[#ffea00]"></i>
                </div>
                <div class="w-[295px]">
                    <h2 class="uppercase text-white text-[14px] font-bold mb-[15px]">EXPERIENCED INSTRUCTORS</h2>
                    <p class="text-[#5881a9] text-[15px] mb-[20px]">Lorem ipsum Sunt cupidatat reprehenderit cillum reprehenderit incididunt consequat</p>
                    <a class="no-underline text-white" href="#">See instructors</a>
                </div>
            </div>

            <div class="w-[360px] flex justify-between">
                <div class="">
                    <i class="fa-duotone fa-solid fa-video text-[42px] text-[#ffea00]"></i>
                </div>
                <div class="w-[295px]">
                    <h2 class="uppercase text-white text-[14px] font-bold mb-[15px]">VIDEO CLASSES</h2>
                    <p class="text-[#5881a9] text-[15px] mb-[20px]">Lorem ipsum Sunt cupidatat reprehenderit cillum reprehenderit incididunt consequat</p>
                    <a class="no-underline text-white" href="#">See instructors</a>
                </div>
            </div>

            <div class="w-[360px] flex justify-between">
                <div class="">
                    <i class="fa-regular fa-clock text-[42px] text-[#ffea00]"></i>
                </div>
                <div class="w-[295px]">
                    <h2 class="uppercase text-white text-[14px] font-bold mb-[15px]">BEST SAFETY MEASURES</h2>
                    <p class="text-[#5881a9] text-[15px] mb-[40px]">Lorem ipsum Sunt cupidatat reprehenderit cillum reprehenderit incididunt consequat</p>
                </div>
            </div>
        </div>
    </div>

</div>