<div class="w-full flex items-center justify-center">
    <div class="w-[1873px] h-[630px] flex items-center justify-center">
        <div class="">
                <div class="w-[1140px] h-[315px] flex items-center justify-between">
                    <div class="w-[285px] bg-[#f9fafb] h-[313px] py-[70px] px-[15px] text-center border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fa-solid fa-award text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">best service</h3>
                        <p class="text-[#668bb0]">Lorem ipsum Sunt cupidatat reprehenderit cillum reprehenderit incididunt consequat</p>
                    </div>

                    <div class="w-[285px] h-[314px] py-[70px] px-[15px] text-center border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fa-regular fa-clock text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">Best time training</h3>
                        <p class="text-[#668bb0]">You can choose your team on weekdays after work or on weekends</p>
                    </div>

                    <div class="w-[285px] h-[313px] bg-[#f9fafb] py-[70px] px-[15px] text-center border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fa-solid fa-people-group text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">We train all ages</h3>
                        <p class="text-[#668bb0]">we take into account the age of individual moments.</p>
                    </div>

                    <div class="w-[285px] h-[314px] py-[70px] px-[15px] text-center border-r-2 border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fa-solid fa-bullseye text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">Individual approach</h3>
                        <p class="text-[#668bb0]">to everyone we have our own approach.</p>
                    </div>
                </div>

                <hr class="w-full h-[2px] bg-[#e6ebf1]">

                <div class="w-[1140px] h-[315px] flex items-center justify-between">
                    <div class="w-[285px] h-[314px] py-[70px] px-[15px] text-center border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fas fa-chalkboard-teacher text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">Calm instructor</h3>
                        <p class="text-[#668bb0]">practical training for you will be happy.</p>
                    </div>

                    <div class="w-[285px] h-[314px] bg-[#f9fafb] py-[70px] px-[15px] text-center border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fas fa-hands-wash text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">duplicate pedals</h3>
                        <p class="text-[#668bb0]">Cars equipped with duplicate pedals - avtoinstruktor always insures you</p>
                    </div>

                    <div class="w-[285px] h-[314px] py-[70px] px-[15px] text-center border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fas fa-file-alt text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">all documents</h3>
                        <p class="text-[#668bb0]">Lorem ipsum Sunt cupidatat reprehenderit cillum reprehenderit incididunt consequat</p>
                    </div>

                    <div class="w-[285px] h-[314px] bg-[#f9fafb] py-[70px] px-[15px] text-center border-r-2 border-l-2 border-[#e6ebf1]">
                        <div class="w-[215px] h-[44px] mb-[10px] mx-auto text-center flex items-center justify-between">
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                            <i class="fas fa-suitcase text-[32px]"></i>
                            <div class="w-[58px] h-[2px] bg-[#ffea00]"></div>
                        </div>
                        <h3 class="uppercase mb-[15px] font-bold">best service</h3>
                        <p class="text-[#668bb0]">Lorem ipsum Sunt cupidatat reprehenderit cillum reprehenderit incididunt consequat</p>
                    </div>
                </div>
        </div>
    </div>
</div>